body {
    width: 750px;
    font-family: Arial, Verdana, sans-serif;
    color: #665544;}
h1 {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 10px;
    width: 100%;
    background-color: #efefef;}
p {
    position: relative;
    top: 70px;
    left: 70px;}